<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS testing ground</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="vue-app">
    <h1>{{greet('afternoon')}}</h1>
    <p>name:{{name}}</p>
    <p>job: {{job}}</p>
    <a v-bind:href="website">asd</a>
    <input type="text" v-bind:value="name">
    <p v-html="websiteTag"></p>

    <button v-on:click="add(1)"> Add a year</button>
    <button v-on:dblclick="add(10)"> Add 10 years</button>
    <button v-on:click="subtract(1)"> Subtract a year</button>
    <p>My age is: {{age}}</p>

    <p>Referencing:</p>
    <input type="text" ref="input"/>
    <button v-on:click="readRefs">Submit</button>
    <p>My fav food is: {{food}}</p>

    <h2> Dynamic CSS</h2>
    <h3> Example 1 </h3>
    <div v-on:click="available = !available" v-bind:class="{available: available}">
    <span>Testname</span>
    </div>
    <h3> Example 2 </h3>
    <button v-on:click="available = !available">Toggle available</button>
    <button v-on:click="nearby = !nearby">Toggle nearby</button>
    <div v-bind:class="compClasses">
        <span>Testname</span>
    </div>
    <button v-on:click="error = !error">Toggle error</button>
    <button v-on:click="success = !success">Toggle success</button>
    <p v-if="error">Lorem ipsum dolor sit</p>
    <p v-else-if="success">amet lorem sit dolor</p>
    <p v-show="error">error happened</p>
    <p v-show="success">success happened</p>

    <ul>
        <li v-for="character in characters">{{ character }}</li>
    </ul>
    <div v-for="(ninja, index) in ninjas">
        <h4> {{index}}.{{ninja.name}}</h4>
        <p>{{ninja.age}}</p>
    </div>
    <template v-for="ninja in ninjas">
        <div v-for="(val,key) in ninja">
            <p>{{key}} {{val}}</p>

        </div>
    </template>


    <div id="canvas" v-on:mousemove="updateXY">{{x}},{{y}}</div>
</div>


<script src="js/app.js" type="text/javascript"></script>
</body>
</html>
